#app {
  max-width: 300px;
}

.searchBar,
.table {
  margin: 5px 10px;
  padding: 5px;
}

.search {
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 3px;
  width: 70%;
  margin-bottom: 3px;
  outline: none;
}

.category,
.rowTitle {
  font-weight: 600;
}

.rowTitle {
  padding-left: 30px;
}

span:first-child {
  display: inline-block;
  width: 100px;
}

.table>div {
  margin-bottom: 3px;
}

.empty {
  color: red;
}